.__pychache__
cboard.py
htmlcov
.pytest_cache
.vscode
.gitignore
__pycache__/game.cpython-39.pyc
__pycache__/jeu.cpython-39.pyc
__pycache__/main_test.cpython-39-pytest-7.1.2.pyc
__pycache__/serverPerso.cpython-39.pyc
__pycache__/game.cpython-39.pyc
__pycache__/jeu.cpython-39.pyc
__pycache__/serverPerso.cpython-39.pyc
.coverage
.github

